// .app-header {
//   position: relative;
//   padding: 1rem;
//   background-color: #fff; /* Optional: for a light header background */
// }

.logo {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  height: 150px;
  object-fit: contain;
}
.main-content {
  padding-top: 60px; /* Same as navbar height */
}